.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 200px;
    background: linear-gradient(45deg, rgb(3, 10, 240), rgb(227, 0, 220));
    cursor: pointer;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    &:hover {
        opacity: 0.8;
    }
}