.rating {
    position: absolute;
    border-radius: 7px;
    padding: 2px 8px;
    background: rgba(0, 192, 0, 0.884);
    color: white;
    left: 10px;
    top: 10px;
}
    .img {
        width: 222px;
        height: 333px;
    }

